<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../assets/style/bootstrap.min.css" />
  </head>
  <body>
    <header class="vh-100">
      <nav
        class="container-fluid h-75 bg-red py-5 rounded-navbar d-flex justify-content-center"
      >
        <section class="w-75 h-18 bg-primary rounded-3 py-4 px-4">
          <ul
            class="d-flex gap-5 text-black fw-bold"
            style="list-style-type: none"
          >
            <li>Home</li>
            <li>Brand Story</li>
            <li>Product</li>
            <li>Testimony</li>
            <li>
              <img
                src="../assets/"
                class="rounded-circle img-fluid"
                alt="gambar logo"
              />
            </li>
            <li>How To Buy</li>
            <li>Pet Care</li>
            <li>Contact Us</li>
            <li>Search bar</li>
          </ul>
        </section>
      </nav>
    </header>
    <script src="../assets/script/bootstrap.min.js"></script>
  </body>
</html>
