<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../assets/style/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header
      class="h-auto bg-red py-5 rounded-navbar d-flex flex-column align-items-center gap-5"
    >
      <img
        src="../assets/image/pattern-navbar.png"
        alt="background gambar"
        class="position-absolute z-0 w-75 "
      />
      <nav class="navbar navbar-expand-lg bg-primary rounded-3 px-3 py-0">
        <!-- Logo -->
        <a class="navbar-brand d-lg-none" href="#">
          <img
            src="../assets/image/logo-kf 1.png"
            class="rounded-circle img-fluid"
            alt="gambar logo"
          />
        </a>

        <!-- Hamburger Menu Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Items -->
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav text-black fw-bolder d-flex align-items-center">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Brand Story</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Testimony</a>
            </li>
            <li class="nav-item">
              <!-- Display only on small screens -->
              <a class="navbar-brand d-none d-sm-block d-md-block" href="#">
                <img
                  src="../assets/image/logo-kf 1.png"
                  class="rounded-circle img-fluid"
                  alt="gambar logo"
                />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">How To Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pet Care</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="languageDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                EN
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">ID</a></li>
                <li><a class="dropdown-item" href="#">EU</a></li>
                <li><a class="dropdown-item" href="#">CN</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <section
        class="container d-flex flex-column align-items-center m-0 text-heading"
      >
        <h1 class="text-uppercase fw-bolder">Testimoni</h1>
        <p class="text-center">We love to share their story, how about you?</p>
      </section>
    </header>

    <main class="vh-100">
      <section class="h-auto bg-primary">test</section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../assets/script/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
  </body>
</html>
