/* @import url('https://fonts.cdnfonts.com/css/poppins'); */

@font-face {
  font-family: 'Avenir';
  src: url('../font/TradeGothicLT/TradeGothicLT.ttf');
}

:root {
  --c-primary: #f9f4d7;
  --c-red: #d22828;
  --c-header: #f8df8d;
}

body {
  background-color: var(--c-primary) !important;
  font-family: 'Avenir' !important;
  background-image: url(../image/background-content.png);
  background-repeat: repeat round;
  margin: 0 !important;
  padding: 0 !important;
}
.bg-red {
  background-color: var(--c-red) !important;
}
.text-header {
  color: var(--c-header);
}

.text-main {
  color: var(--c-primary);
  font-size: 1.5em;
}

.c-primary {
  background-color: var(--c-primary);
}
.form-switch .form-check-input {
  width: 21em;
  height: 4.7em;
}

.form-switch .form-check-label {
  margin-left: 0.5em;
}

.c-red {
  color: var(--c-red) !important;
}

.w-65 {
  width: 65% !important;
}

.bottom-70 {
  bottom: 70% !important;
}

.rounded-navbar {
  border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}

.rounded-footer {
  border-radius: 40% 40% 0% 0% / 25% 25% 0% 0%;
}

.border-input {
  --bs-border-opacity: 1;
  border-width: 3px;
  border-color: rgba(var(--c-red), var(--bs-border-opacity)) !important;
}

.image-testimoni {
  max-width: 180px;
  height: 180px;
}

.content-section {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 1rem;
  text-align: center;
}

.image-brand-concept {
  width: 100%;
}

.rejuvenate-concept-row {
  flex-direction: column-reverse;
}

.custom-badges-categories {
  margin-left: 20%;
}

@media (min-width: 768px) {
  .content-section {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    text-align: left !important;
  }

  .rejuvenate-concept-row {
    flex-direction: row !important;
  }

  .text-main small {
    font-size: 0.4em;
  }

  .text-main p {
    font-size: 0.7em;
  }

  .text-main h4 {
    font-size: 0.8em;
  }

  .text-main span {
    font-size: 0.8em;
  }
}

@media (min-width: 375px) {
  nav.navbar {
    width: 75% !important;
    padding-inline: 1rem !important;
  }

  .image-brand-concept {
    width: 65%;
  }
}

.custom-pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.32rem;
  --bs-pagination-font-size: 1.25rem;
  --bs-pagination-hover-color: #fff;
  --bs-pagination-hover-bg: var(--c-red);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--c-red);
  --bs-pagination-focus-color: #fff;
  --bs-pagination-focus-bg: var(--c-red);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  display: flex;
  align-items: center;
  list-style: none;
}

.custom-page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  width: 2em;
  height: 2em;
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--bs-pagination-bg);
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-page-link {
    transition: none;
  }
}

.custom-page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: var(--bs-pagination-hover-bg);
}

.custom-page-link:focus {
  z-index: 3;
  color: var(--bs-pagination-focus-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  box-shadow: var(--bs-pagination-focus-box-shadow);
}

.active > .custom-page-link,
.custom-page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
}

.custom-page-item:not(:first-child) .custom-page-link {
  margin-left: -0.5rem;
}

.custom-page-link #previous-page,
.custom-page-link #next-page {
  color: var(--c-red) !important;
}

.custom-page-link:hover #previous-page,
.custom-page-link:hover #next-page {
  color: var(--bs-pagination-hover-color) !important;
}

li.nav-item a.nav-link,
.text-socialmedia-footer {
  font-weight: normal !important;
}

.background-badges-categories {
  background-color: var(--c-primary);
}

input[type='email'],
input[type='email']::placeholder {
  color: #f9f4d7 !important;
}

.btn-outline-main {
  --bs-btn-color: var(--c-red) !important;
  --bs-btn-border-color: var(--c-red) !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: var(--c-red) !important;
  --bs-btn-hover-border-color: var(--c-red) !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: var(--c-red) !important;
  --bs-btn-active-border-color: var(--c-red) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: var(--c-red) !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: var(--c-red) !important;
  --bs-gradient: none !important;
}

.btn-outline-main:hover .fa-paw {
  color: white !important;
}

.custom-accordion {
  margin: 40px 0;
}
.custom-accordion .custom-item {
  border: none;
  margin-bottom: 50px;
  background: none;
}
.t-p {
  color: black;
  padding: 20px 0px 0px 5px;
}
.custom-accordion .custom-item .custom-item-header h2 button.btn.btn-link {
  background: #e3dec4;
  color: black;
  border-radius: 0px;
  font-size: 18px;
  font-weight: 900;
  line-height: 2.5;
  text-decoration: none;
}
.custom-accordion .custom-item .custom-item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px;
}

.custom-accordion .custom-item .custom-item-header h2 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
}

.custom-accordion .custom-item .custom-item-header h2 button i.fa-angle-down {
  float: right;
  font-size: 30px;
  color: #eca300;
  background-color: black;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.custom-accordion
  .custom-item
  .custom-item-header
  h2
  button.collapsed
  i.fa-angle-down {
  transform: rotate(0deg);
}

.custom-accordion .custom-item .custom-item-header h2 button i.fa-angle-down {
  transform: rotate(180deg);
  transition: 0.5s;
}
